/* 
 * hago.css , Version 0.4
 * Hago is a holy grail theme for Drupal.
 */

html {
  /* Layout */
    margin: 0 auto; /* Centers page horizontally. May conflict with #page margins. */
  /* Candy */
    background: #000; /* Provides background when page is not as tall as viewport. */
}
body {
  /* Layout */
    margin: 0 auto; /*See html margin comment. */
  /* Candy */
    background: #222; /* Provides background of page margins. */
}
#page {
  /* Layout */
    width: auto; /* Liquid layout. */
    XX width: 460px;/* Fixed layout. */
    margin: 0; /* Provides margin around page. */
  /* Candy */
    background: #444; /* May show on buggy browsers. */
    border: 0;
XXborder-width: 8px 17px 8px 15px
}
#header {
  /* Candy */
    background: #ccc;
    border-bottom: 2px solid #666;
}
#main {
  /* Layout */
    display: inline; /* So IE plays nice */
    float: left;
    margin-left: 150px; /* Width of left sidebar. */
    margin-right: 200px; /* Width of right sidebar. */
  /* Candy */
    background: #888; /* May show on buggy browsers. */
}
#main-inner {
  /* Layout */
    float: left;
    width: 100%;	
    display: inline; /* So IE plays nice */
    margin-left: -150px; /* Negative width of left sidebar. */
    margin-right: -200px; /* Per http://www.alistapart.com/articles/multicolumnlayouts/ , does not seem to be needed */
  /* Layout & Candy */
    border-left: 150px solid #eff; /* Background of left sidebar. */
    border-right: 200px solid #fd8; /* Background of right sidebar. */
  /* Candy */
    background: #eee; /* Background of center column. */
}
#content {
  /* Layout */
    float: left;
    width: 100%;
    margin-right: -100%;
}
#content-inner {
  /* Layout */
    margin: 0; /* Overrides Basic layout.css . */
  /* Candy */
    border-left: 1px solid #666; /* Border between left and center columns. */
    border-right: 2px solid #666; /* Border between right and center columns. */
}
#sidebar-first {
  /* Layout */
    position: relative;
    float: left;
    width: 150px; /* Width of left column. */
    margin-left: -150px; /* Negative width of left column. */
  /* Candy */
    border-right: 1px solid #666; /* Border between left and center columns. */
    background: #eff; /* You may match the main-inner border, leave transparent, or provide an image.  */
}
#sidebar-second {
  /* Layout */
    position: relative;
    float: right;
    width: 200px; /* Width of right column. */
    margin-right: -200px; /* Negative width of right column. */
  /* Candy */
    border-left: 2px solid #666; /* Border between center and right columns. */
    background: #fd8; /* You may match the main-inner border, leave transparent, or provide an image.  */
}
#footer {
  /* Candy */
    background: #ddd;
    border-top: 2px solid #666;
}
